<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QuanLyNhaHang"
			 connectionString="Data Source=YOUR_DATA;Initial Catalog=QuanLyNhaHang;User ID=YOUR_ID;Password=YOUR_PASSWWORD;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
